{% extends 'board/base.html' %}
{% block content %}
<div>
<p>
	한양대학교 오픈소스동아리 오소리입니다.
	<br> Welcome to OSORI!
	<br>
	<br>
	* 이 페이지는 오소리 웹사이트 팀의 JavaScript (혹은 jQuery ! ) 스터디를 위해 만들어졌습니다.

	<!-- 라이브러리는 쓰라고 있는거니까요 .. -->

	<br>
	* CSS때 했던 프로젝트를 약간 고쳐서 하셔도 됩니당!
	</p>
	<p>
		&lt;과제1&gt; 위의 상단 네비게이션 바를 드롭다운메뉴로 만들어주세요!<br>
		 * 상단바를 가로로 바꾸는건 CSS에서 했었어요<br>
		 * 드롭다운 메뉴가 어떻게 생겼는지 모른다고요? <a href="https://www.google.co.kr/search?q=drop+down+navigation+bar&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjsyI62s6vVAhUE2mMKHWLlDjcQ_AUICigB&biw=1150&bih=861&dpr=1.1" target="_blank">이거에요</a><br><br>
		&lt;과제2&gt; 동문열 옆에 있는 현재시간이 제대로 작동하게 해주세요!<br>
		 * 아마 지금은 오전 00:00:00으로 보일 거에요.<br><br>
		&lt;과제3&gt; 상단 네비게이션 바 밑에 이미지 슬라이드를 만들어봐요!<br>
		 * Django에서 홈페이지에 이미지를 추가하는 건 아직 안해봤죠??<br>
		 * 완성 예시는 <a href="http://cs.hanyang.ac.kr" target="_blank">cs.hanyang.ac.kr</a>의 슬라이드를 참고해주세요! <br>
	</p>
</div>
{% endblock %}