{% extends 'album/template.html' %}
{% block content %}
<h3>Assignment 1</h3>
 <p>첫번째 과제는 <strong>가벼운 식단표</strong>
 <br>
 <br>
아래의 그림과 같은 표를 table 태그를 이용해서 구현해 보세요!
<br>
모르는 부분은 잘 검색해가면서 화이팅!
</p>
<br>
<img src="http://postfiles2.naver.net/MjAxNzA3MTFfMTQw/MDAxNDk5Nzc2NjYzMTM2.HuzxlW5bU44HaJ0btcQo88x6yX2ysJpPmYy_dB0Xj38g.lKjH5vRPysLbGGBpCsOPvnYuQKOKIhNsqPXCmqgpPAgg.PNG.camelia_sh/%EC%9B%B9%EA%B3%BC%EC%A0%9C1.PNG?type=w773">
 <br>
<br>


<!--여기 밑에 구현 -->
<table border="1">
<tr>	
<td colspan="4" align="center">7월 3주차 주간식단표 </td>
</tr>
<tr>
<th> 구분 </th>
<th> 조식 </th>
<th> 중식 </th>
<th> 석식 </th>
</tr>
<tr>
<td> 7월 10일 (월요일) </td>
<td> 꽃게찌개 </td>
<td> 류산슬덮밥 </td>
<td> 사골육개장 </td>
</tr>
<tr>
<td> 7월 11일 (화요일) </td>
<td> 그린스프 </td>
<td> 골뱅이쫄면 </td>
<td> 매운찰순대찜 </td>
</tr>
<tr>
<td> 7월 12일 (수요일) </td>
<td> 순두부찌개 </td>
<td> 한방삼계탕 </td>
<td> 닭칼국수 </td>
</tr>
<tr>
<td> 7월 13일 (목요일) </td>
<td> 피자토스트 </td>
<td> 가지냉국 </td>
<td> 버섯전골 </td>
</tr>
<tr>
<td> 7월 14일 (금요일) </td>
<td> 감자찌개 </td>
<td> 냉김치말이국수 </td>
<td> 된장찌개 </td>
</tr>
<tr>
<td> 7월 15일 (토요일) </td>
<td> 소고기얼큰무국 </td>
<td> 하이라이스 </td>
<td> 동태매운탕 </td>
</tr>
<tr>
<td> 7월 16일 (일요일) </td>
<td> 건새우아욱국 </td>
<td> 열무보리비빔밥 </td>
<td> 흑미기장밥 </td>
</tr>
</table>

{% endblock %}