{% extends 'album/template.html' %}
{% block content %}
<h3>Assignment 2</h3>
 <p>두번째 과제는 <strong>페이징 구현</strong></p>
 <p>
<strong>2-(1)</strong><br>
 지금 이 과제는 album이라는 django app에 들어있어요. (이름이 album인거는 미안해요. 네이밍을 잘못했어요.)<br> 저번 django-python 스터디에서 썼던 boards라는 앱을 보면 제가 약 80개정도의 게시글을 넣어놓았어요.
</p>
<p>
80개가 한 페이지에 보이는건 너무 많지 않나요?<br>
boards를 수정해서 한 페이지에 10개의 게시글만 보이도록 수정해 주세요!
</p>
<p>
약간의 힌트를 주자면 django에는 paginator라는 클래스가 있어요. <a href="https://docs.djangoproject.com/es/1.10/topics/pagination/">링크</a>
<br>
</p>

<p>
		<strong>2-(2)</strong><br>
		2-(1)을 완전히 끝냈다면 이제 첫번째 과제에서 했던 표를 적용시켜 볼까요?<br>
		post_list.html을 수정해서 우리가 평소 보는 게시판처럼 만들어봐요.<br>
		예를 들자면 ...<br>
<img src="http://postfiles9.naver.net/MjAxNzA3MTRfMiAg/MDAxNTAwMDI2MDkzNDk3.EAOf-5OD696qLeJ4JoKSi8dbfx0P0NlfeNOirAcDTBgg.QQ_5jXU8bF1PrxsOmysHBUYLYRTclMCdH_JneY1Fw-Ug.PNG.camelia_sh/image.png?type=w773"><br>
		이렇게?
<br>
<br>
모르는 부분은 잘 검색해가면서 화이팅!

</p>


{% endblock %}