{% extends 'album/template.html' %}
{% block content %}
<h3>Assignment 3</h3>
 <p>세번째 과제는 <strong>post_detail 수정</strong></p>
 <p>
paging은 잘 구현했나요?
</p>
<p>
<strong>3-(1)</strong><br>
	boards/models.py에 가서 Post 모델을 보면 view_count라는 변수가 있는 것을 확인할 수 있을 거에요! <br>
	네이밍과 같이 저 view_count는 말 그대로 조회수에요.<br>
	models.py, views.py와 post_detail.html을 수정해서 각 게시글의 view_count를 볼 수 있도록 만들어 주세요.
	<br>
</p>

<p>
	<strong>3-(2)</strong><br>
	게시글에 comment를 달 수 있다는 것을 알고 있나요?<br>
	지금은 comment를 달기 위해서 게시글을 쓰는 것처럼 form으로 이동해서 POST를 날려요.<br>
	borads 앱의 내용물을 수정해서 post_detail 페이지에서 댓글을 작성할 수 있게 고쳐주세요.<br>
	아마 form 대신 input 태그를 사용해야 할 수도 있겠네요!
</p>
<p>
모르는 부분은 잘 검색해가면서 화이팅!
</p>


{% endblock %}