{% extends 'album/template.html' %}
{% block content %}
 <section>  
 	
 <h3>HTML이란</h3>
 	
<p>
HTML은 HyperText Markup Language의 약어에요! 그리고 우리는 이걸 웹페이지를 만들 때 써요.
<br><br>
markup language라는 말이 생소하다면.. 우리 깃허브에 readme 쓸 때 readme.md라는 형식으로 만들죠?
<br>
마크다운도 markup language의 일종이에요!
<br><br>
html에서는 '내용'을 '태그'로 감싸서 표현해요. 이 문단의 제목 (저 위의 'html이란'이라고 써진 굵은 글씨)은 &lt;h3&gt; 이라는 태그로 감싸져 있어요. 태그를 닫을 때는 앞에 슬래쉬를 써서 &lt;/h3&gt;이라고 써요.
</p>
  <br>
  <h3>기능적인 설명을 제가 하는건 의미가 없을 것 같아요</h3>

<p> Python에서도 그랬듯이 기능적인 설명을 제가 하는건 의미가 없어요.
<br>
워낙 잘 하는 사람도 많고 잘 가르쳐주는 프로그램도 많으니까요.ㅎㅅㅎ...
<br>
간단한 튜토리얼이라면 <a href="https://opentutorials.org/course/488/2607" target="_blank">생활코딩</a>이라던가 <a href="https://www.w3schools.com/html/">w3schools</a>라던가 많아요!
<br>
그래서 이번에도 reference site와 함께 과제를 준비했어요! 하고 나면 css는 몰라도 HTML이 어떻게 생겨먹었는지는 알게 될 거에요!
<br>
<br>
과제 1 : table 태그를 이용해서 식단표 만들어보기 !
<br>
과제 2 : django-endless-pagination을 이용해서 페이징 구현 !
<br>
과제 3 : 조회수 확인 추가와 댓글 작성 수정 !
</p> 
</section>
{% endblock %}